.carousel-control.left {
  background: none;
}

.carousel-control.right {
  background: none;
}

@media screen and (max-width: 767px) {

  /* screen-xs (Phones) */

  .navbar-collapse {
    max-height: 400px;
  }

  .navbar-nav {
    background: url('../images/white60.png');
    margin-left: 30%;
    padding: 15px;
  }

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #F1665E;
    color: #fff;
    opacity: 1;
  }

  .navbar-nav > li {
  }

  .navbar-nav > li > a {
    background: url('../images/red.png');
    margin: 2px;
    padding-bottom: 7px;
    opacity: .7;
  }

  .navbar-nav > li > a i {
    color: #fff;
    padding-top: 7px;
  }

  .navbar-default .navbar-toggle {
    margin-top: 10px;
  }

  .navbar-brand {
    padding:0;
    height: 50px;
  }

  #KDH_logo_a img {
    height: 30px;
  }

  .container-fluid .row .col-first {
    padding-left: 15px;
  }
  .container-fluid .row .col-last {
    padding-right: 15px;
  }

  .section-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
  }

  .about-title {
    padding: 7px 10px 6px;
    text-align: left;
  }
  .about-container {
    padding: 3% 2%;
    font-size: 16px;
    line-height: 200%;
    color: #3A3939;
    background: url('../images/white60.png');
    /*text-align: justify;*/
    text-shadow: 0 0 2px #fff;
  }

  .event-title {
    padding: 8px 0 7px 20px;
  }
  .event-container {
    padding: 3% 2%;
    font-size: 16px;
    color: #3A3939;
    background: url('../images/white60.png');
    text-shadow: 0 0 2px #fff;
  }

  .services-title {
    /*width: 170px;*/
    padding: 8px 0 5px 20px;
    margin-bottom: 3%;
  }
  .services-imgs {
    width: 100%;
    margin-bottom: 15px;
  }
  .services-imgs img {
    width: 33%;
    float: left;
  }
  .services-msgs {
    float: left;
    width: 100%;
    margin-bottom: 3%;
    padding: 15px 15px;
  }
  .services-msg {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 15px;
  }

  #features {
    background-color: #eeeeee;
    /*background-image: url('../images/5_features/features.png');
    background-size: 100% auto;*/
    /*padding: 3% 0 55%;*/
    /*background-repeat-y: no-repeat;*/
    padding-bottom: 20px;
  }

  .features-title {
    padding: 6px 35px;
  }

  #services, #features, #partner, #organisation, #contact {
    padding-top: 60px;
  }

  #partner {
    /* mark */
    background: url('../images/6_partner/partners.png')
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding-bottom: 6%;
    border-top: 2px solid #FFF;
  }
  #Partners_b
  , #Partners_c
  , #Partners_d
  , #logo_agv
  , #logo_GogoroLogo
  , #logo_foxconn{ height: auto; }
  .partner-title {
    padding: 8px 0 5px 7px;
  }

  .partner-container {
    margin-top: 3%;
    margin-bottom: 3%;
    text-shadow: 0 0 2px #fff;
  }
  .logo-rim {
    border: 1px solid #989898;
    margin-bottom: 10px;
    background: #FFF;
  }

  .organisation-title {
    padding: 7px 16px 5px;
  }
  .organisation-container {
    font-size: 14px;
    color: #3A3939;
    padding-top: 3%;
  }
  #team_A
  , #team_B
  , #team_C
  , #team_D {
    margin-bottom: 10px;
    /*height: 180px;*/
  }

  #team_chart, #organisation .imgs img {
    max-width: 70%;
  }

  .workers img {
    max-width: 160px;
  }

  .team-yellow {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .team-yellow::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
    border-right: transparent 20px solid;
    border-bottom: rgba( 249, 174, 64, 0.8) 20px solid;
    border-left: transparent 20px solid;

  }
  .team-yellow .worker-info {
    padding: 60px 15px;
    background: rgba( 249, 174, 64, 0.8);
  }
  .team-green {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .team-green::after  {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -10px;
    border-top: rgba( 106, 202, 157, 0.8) 20px solid;
    border-right: transparent 20px solid;
    border-left: transparent 20px solid;

  }
  .team-green .worker-info {
    padding: 60px 15px;
    background: rgba( 106, 202, 157, 0.8);
  }

  .worker-name {
    font-size: 18px;
    font-weight: bold;
  }
  .worker-function {
    font-size: 12px;
  }
  .worker-info hr {
    margin: 20px 0;
  }

  #contact_map {
    overflow: hidden;
    width: 100%;
    /*height: 328px;*/
    margin-bottom: 10px;
  }

}
/* @media screen and (min-width: 768px) and (max-width: 991px) { */
@media screen and (min-width: 768px) {

  /* screen-sm (Tablets) */

  .navbar-brand {
    padding:0;
    height: 60px;
  }

  #KDH_logo_a img {
    height: 58px;
  }

  .navbar-nav > li > a {
    overflow-y: hidden;
    height: 20px;
    margin-top: 30px;
  }

  .navbar-nav > li > a i {
    padding:0;
  }
  .navbar-nav > li > a i
  , .navbar-nav > li > a:hover i
  , .navbar-nav > li.active > a i {
    color: #000;
  }
  .navbar-default .navbar-nav > li > a
  , .navbar-default .navbar-nav > li > a:hover
  , .navbar-default .navbar-nav > li > a:focus
  , .navbar-default .navbar-nav > .active > a
  , .navbar-default .navbar-nav > .active > a:hover
  , .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #000;
  }
  .navbar-default .navbar-nav > .active > a {
    padding-bottom: 14px;
    height: 34px;
    margin-bottom: 5px;
  }

  .navbar-brand {
    padding:0;
    height: 60px;
  }

  .container-fluid .row .col-first {
    padding-left: 0;
  }
  .container-fluid .row .col-last {
    padding-right: 0;
  }

  .section-title {
    font-weight: bold;
    font-size: 44px;
    line-height: 44px;
  }

  .about-title {
    padding: 14px 20px 12px;
    text-align: right;
  }
  .about-container {
    background-image: url('../images/white60.png');
    padding: 3% 2%;
    font-size: 18px;
    line-height: 200%;
    color: #3A3939;
    text-align: right;
    text-shadow: 0 0 2px #fff;
  }

  .event-title {
    padding: 16px 0 14px 40px;
  }
  .event-container {
    padding-top: 34px;
    font-size: 16px;
    color: #3A3939;
    padding-right: 20px;
  }

  .services-title {
    width: 350px;
    padding: 16px 0 10px 40px;
    margin-bottom: 3%;
  }
  .services-imgs {
    width: 300px;
    float: left;
  }
  .services-msgs {
    float: left;
    width: 410px;
    margin-left: 10px;
    margin-bottom: 3%;
    padding: 0 5px;
  }
  .services-msg {
    height: 300px;
    padding: 10px;
    font-size: 120%;
    margin-bottom: 10px;
    line-height: 150%;
  }
  .services-msg:last-child {
    margin-bottom: 0;
  }

  #features {
    padding-top: 0;
  }

  #services, #partner, #organisation, #contact {
    padding-top: 10%;
  }

  #features {
    /*
    background-image: url('../images/5_features/features.png');
    background-size: 100% 100%;
    padding: 112px 0 856px;
    */
  }

  .features-title-wrapper {
    position: relative;
    margin-top: 0;
    top: 100px;
    left: 0;
    height: 0;
  }

  .features-title {
    padding: 14px 70px 12px;
  }

  #partner {
    background-image: url('../images/6_partner/partners.png');
    background-size: 100% 100%;
    /* padding-top: 18%; */
    padding-bottom: 2%;
    border-top: 2px solid #FFF;
  }
  #Partners_b
  , #Partners_c
  , #Partners_d
  , #logo_agv
  , #logo_GogoroLogo
  , #logo_foxconn{ height: auto; }
  .partner-title {
    padding: 16px 0 10px 15px;
    margin-top: 20%;
  }
  .partner-container {
    padding-top: 0;
    font-size: 20px;
    color: #3A3939;
  }
  .logo-rim {
    border: 1px solid #989898;
    margin-bottom: 10px;
  }

  .organisation-title {
    text-align: right;
    padding: 14px 33px 10px;
  }
  .organisation-container {
    font-size: 28px;
    line-height: 150%;
    color: #3A3939;
    padding-top: 3%;
  }
  #team_A
  , #team_B
  , #team_C
  , #team_D {
    margin-bottom: 10px;
    height: 120px;
  }
  .team-yellow {
    background-image: url('../images/7_team/team_yellow.png');
    background-size: 100% 100%;
    padding: 132px 15px 126px 50px;
    margin-left: -15px;
    margin-right: 15px;
    margin-bottom: 20px;
  }
  .team-green {
    background-image: url('../images/7_team/team_green.png');
    background-size: 100% 100%;
    padding: 132px 50px 126px 15px;
    margin-left: 15px;
    margin-right: -15px;
  }
  .worker-name {
    font-size: 28px;
    font-weight: bold;
  }
  .worker-function {
    font-size: 18px;
  }
  .worker-info hr {
    margin: 20px 0;
  }

  #contact_map {
    overflow: hidden;
    width: 100%;
    /*height: 328px;*/
    margin-bottom: 10px;
  }

}
/* @media screen and (min-width: 992px) and (max-width: 1199px) { */
@media screen and (min-width: 992px) {

  /* screen-md (Desktops) */

  .about-container {
    background-image: none;
  }

  .navbar-brand {
    padding:0;
    height: 80px;
  }

  .navbar-nav > li > a {
    overflow-y: hidden;
    height: 20px;
    margin-top: 30px;
  }

  .navbar-default .navbar-nav > .active > a {
    padding-bottom: 14px;
    height: 34px;
    margin-bottom: 0;
  }

  .features-title-wrapper {
    position: relative;
    margin-top: -70px;
    top: 180px;
    left: 0;
    height: 0;
  }

  .services-imgs {
    width: 200px;
    float: left;
  }
  .services-msgs {
    float: left;
    width: 240px;
    margin-left: 10px;
    padding: 0 5px;
  }
  .services-msg {
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 80%;
    line-height: 150%;
    text-align: justify;
  }
  .services-msg:last-child {
    margin-bottom: 0;
  }

  #Partners_b
  , #Partners_c
  , #Partners_d { height: 67px; }
  #logo_agv
  , #logo_GogoroLogo
  , #logo_foxconn{ height: 96px; }
  .partner-title {
    padding: 16px 0 10px 15px;
    margin-top: 15%;
  }
  .logo-rim {
    border: 1px solid #989898;
    margin-bottom: 0;
  }

  #team_A
  , #team_B
  , #team_C
  , #team_D {
    height: 172px;
    margin-bottom: 0;
  }
  .team-yellow {
    background-image: url('../images/7_team/team_yellow.png');
    background-size: 100% 100%;
    padding: 66px 15px 60px 50px;
    margin-left: -15px;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .team-green {
    background-image: url('../images/7_team/team_green.png');
    background-size: 100% 100%;
    padding: 66px 50px 60px 15px;
    margin-left: 15px;
    margin-right: -15px;
  }
  .worker-name {
    font-size: 18px;
    font-weight: bold;
  }
  .worker-function {
    font-size: 12px;
  }
  .worker-info hr {
    margin: 20px 0;
  }

  #message {
    height: 170px;
  }

  #contact_map {
    overflow: hidden;
    width: 100%;
    /*height: 328px;*/
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {

  /* screen-lg (Large Desktops) */

  .services-title {
    width: 350px;
    padding: 16px 0 10px 40px;
    -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    margin-top: 140px;
    margin-left: -140px;
  }

  #Partners_b
  , #Partners_c
  , #Partners_d { height: 100px; }
  #logo_agv
  , #logo_GogoroLogo
  , #logo_foxconn{ height: 203px; }
  .partner-title {
    padding: 16px 0 10px 15px;
    margin-top: 20%;
  }
  .partner-container {
    padding-top: 40%;
    font-size: 20px;
    color: #3A3939;
  }
  .team-yellow {
    background-image: url('../images/7_team/team_yellow.png');
    background-size: 100% 100%;
    padding: 90px 15px 84px 50px;
    margin-left: -15px;
    margin-right: 15px;
  }
  .team-green {
    background-image: url('../images/7_team/team_green.png');
    background-size: 100% 100%;
    padding: 90px 50px 84px 15px;
    margin-left: 15px;
    margin-right: -15px;
  }
  .worker-name {
    font-size: 26px;
    font-weight: bold;
  }
  .worker-function {
    font-size: 16px;
  }
  .worker-info hr {
    margin: 20px 0;
  }

  #message {
    height: 280px;
  }

  #contact_map {
    overflow: hidden;
    width: 100%;
    /*height: 272px;*/
  }

}

body {
  padding: 0;
  font-family: Helvetica;
}

footer {
  font-size: 90%;
  padding: 15px 0;
}
#footer.container {
  padding: 0;
}

.styleSwitcher {
  display: none;
}

/* .partner-container, */
.event-container {
  padding: 20px;
  background-image: url('../images/white60.png');
  /*text-align: justify;*/
  text-shadow: 0 0 2px #fff;
}
.event-container h3 {
  letter-spacing: 0.5px;
  font-family: Helvetica;
  font-weight: 900;
}
.event-container p {
  font-weight: 300;
}


#mainHeader {
  background-color: transparent;
  background-image: url('../images/white60.png');

  -webkit-transition: background-image 1s linear;
  -moz-transition: background-image 1s linear;
  -o-transition: background-image 1s linear;
  -ms-transition: background-image 1s linear;
  transition: background-image 1s linear;
}

#mainHeader.scroll-to-home {
/*  background: none; */
  background-color: transparent;
  background-image: url('../images/transparent.png');

  /*background-color: #fff;*/

  -webkit-transition: background-image 1s linear;
  -moz-transition: background-image 1s linear;
  -o-transition: background-image 1s linear;
  -ms-transition: background-image 1s linear;
  transition: background-image 1s linear;
}

section img {
  width: 100%;
}

.red {
  background-image: url('../images/red.png');
  color: #FFF;
}
.green {
  background-image: url('../images/green.png');
  color: #FFF;
}
.yellow {
  background-image: url('../images/yellow.png');
  color: #FFF;
}
.grey {
  background-image: url('../images/grey.png');
  color: #3A3939;
}

.container-fluid .row {
  margin: 0;
}

#home {
  padding: 0;
}

#about {
  background: url('../images/2_about/About.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* -webkit-backface-visibility: hidden; */

  border-top: 2px solid #FFF;
  padding-top: 15%;
  padding-bottom: 30%;
}

#event {
  background: url('../images/3_event/Event.png')
  no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  display: inline-block;
  border-top: 2px solid #FFF;
  padding-top: 126px;
  padding-bottom: 240px;
  font-family: Helvetica;
}
.event-subtitle {
  font-weight: bold;
  font-size: 18px;
}

#services {
  background-color: #fafafa;
  /*padding-bottom: 6%;*/
  color: #FFF;
}
.services-row {
  display: inline-block;
}
.services-lb {
  float: left;
}
.services-rb {
  float: right;
}

#partner img {
  margin-bottom: 10px;
}
#Partners_a { width: 100%; }

#organisation {
  background: url('../images/7_team/team.png')
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding-bottom: 5%;
  border-top: 2px solid #FFF;
}
#organisation .imgs {
  margin-top: 30px;
}
#organisation .workers {
  margin-top: 17px;
}
.worker-info {
  color: #FFF;
  text-align: center;
}

#contact {
  padding-bottom: 5%;
}
#contact_taipei {
  margin-bottom: 6px;
}
#gmap_canvas {
  width: 100%;
  height: inherit;
}
#gmap_canvas img{
  max-width: none!important;
  background: none!important
}
.container-address {
  padding: 16px 15px 14px;
  margin-bottom: 10px;
}
.container-input {
  border-radius: 0;
  padding: 16px 15px 14px;
  font-size: 18px;
  height: initial;
}
.container-button {
  width: 100%;
  border-radius: 0;
  font-size: 18px;
}
#InputMessages {
  height: 270px;
}
.form-control:focus {
  background: #F1F1F1;
}
.btn {
  background: #F1F1F1;
}
.btn:hover {
  color: #3A3939;
}

#KDH_logo_a {
  padding-left: 20px;
  margin-top: 10px;
  float: left;
}

@media screen and (max-width: 800px) and (min-width: 768px) {
  #KDH_logo_a img {
    display: none;
  }
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
/*
#team_A
, #team_B
, #team_C
, #team_D {
  height: 172px;
}
*/

#partner {
  padding-bottom: 12%;
}

.slice {
  padding: 0;
}

#event.ios {
  /*background-repeat: repeat-y;*/
  background-attachment: scroll;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100%  100%;
  -o-background-size: 100%  100%;
  background-size: 100%  100%;
  padding-top: 50px;
  padding-bottom: 70px;
}

#about.ios {
  background-attachment: scroll;
  -webkit-background-size: 1280px 800px;
  -moz-background-size: 1280px 800px;
  -o-background-size: 1280px 800px;
  background-size: 1280px 800px;
}

#organisation.ios {
  background-position: top center;
  background-attachment: scroll;
  -webkit-background-size: 1280px 800px;
  -moz-background-size: 1280px 800px;
  -o-background-size: 1280px 800px;
  background-size: 1280px 800px;
}
